* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("1.jpg");
  background-size: contain;
}
#cover {
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.8);
}
#name {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4vh;
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(12, 12, 33);
  margin-top: 65vh;
  margin-bottom: 20vh;
}
#static {
  margin-top: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: bolder;
}
#static::before {
  content: "Hey There";
  /* height: 50%;
  width: 50%; */
  font-size: 1em;
  padding-right: 15px;
  background-color: rgb(217, 225, 233);
  opacity: 0.7;
  border-radius: 15px;
  padding-left: 15px;
  color: rgb(175, 21, 21);
  margin-right: 10px;
}
#list {
  margin-top: 28px;

  height: 40px;
  /* width: 100%; */

  overflow: hidden;
  line-height: 40px;
  /* background-color: aliceblue; */
}
#list li {
  position: relative;
  list-style-type: none;
  padding-left: 25px;
  color: rgb(175, 21, 21);
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: bolder;
  animation: slide 18s steps(1) infinite;
  /* line-height: 40px; */
  /* height: 40px; */
}
#list li::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(11, 11, 17);

  left: 4vh;
  border-left: solid;
  animation: typing 6s steps(9) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 3px);
  }
}
@keyframes slide {
  33% {
    top: calc(-40px);
  }
  66% {
    top: calc(-80px);
  }
  100% {
    top: calc(-120px);
  }
}
